# MySSH 配置文件

[ssh]
host = "1.1.1.1"
port = 22
user = "user"
password = "pass"

[[login_script]]
name = "SSH登录"
wait = "$"
send = "su - root"

[[login_script]]
name = "输入密码"
wait = "Password:"
send = "pass"

[[command]]
name = "执行tail"
wait = "#"
send = "tail -f /var/log/messages"
